*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #eff0d1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}
#tabBox{
    width: 35%;
    min-width: 300px;
    border: 1px solid #515151;
}
.tabBox__item{
    margin: 0 10px 10px;
    padding: 5px;
    background-color: #fefefe;
    border: 1px solid;
    border-top: none;
}
#tabBox__head{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 10px 0;
}
#tabBox__head li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tabBox__link{
    padding: 5px;
}
#tabBox__head .active{
    border: 1px solid #515151;
    border-bottom: none;
    background-color: #fefefe;
}
.toolTip{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.toolTip label{
    min-width: 80px;
    display: flex;
    justify-content: space-between;
}
.tooltip__item{
    display: flex;
    flex-direction: row;
    margin: 15px 15px;
    position: relative;
}