body {
	background-color: #f9f9f9;
	font-family: 'Open Sans', sans-serif;
}
body>img{
	position: absolute;
	top:2px;
	left:28px;
	opacity: .5;
}
.wrapper {
	margin: 0px auto;
	width: 1060px;
	height: 950px;
	background-color: #ffffff;
	box-shadow: 0 0 10px #dbdbdb;
}
.container {
	height: 600px;
}
.logo {
	margin: 50px 0px 0px 46px;
}
.top_menu{
	margin: 40px 46px 40px;
	height: 40px;
	background: radial-gradient(#515151, #454444);
}
.menu li {
	list-style: none;
	float: left;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.menu li:hover {
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	background-color: RGBA(0, 0, 0, 0.2);
}
.menu li a {
	text-decoration: none;
	display: inline-block;
	padding: 0px 40px 0px 30px;
	color:#ffffff;
	text-shadow: 1px 1px 1px #000;
	line-height: 40px;
	font-size: 11pt;
}
.Left_menu {
	float: left;
	width: 23%;
	margin-left: 46px;
}
.Left_menu ul a {
	color: #000;
	text-decoration: none;
	display: block;
	border: 1px solid #CCCCCC;
	padding: 0px 15px;
	border-bottom: 0;
	transition-property: padding;
	transition: padding 0.3s linear;
	line-height: 28pt;
	font-size: 10pt;
}
.Left_menu ul:last-child {
	border-bottom: 1px solid #CCCCCC;
}
.Left_menu ul a:hover{
	padding: 0px 10px 0px 25px;
	font-weight: 900;
}
.content {
	float :left;
	width: 64%;
	margin-left: 45px;
}
.content img {
	height: 290px;
	padding: 8% 15%;
	border: 1px solid #c8c8c8;
}
.content p {
	margin-left: 23px;
	margin-top: 31px;
	line-height: 16pt;
	font-size: 10pt;
}
.f_menu {
	margin: 40px 46px 0;
	background-color: #e1e1e1;
}
.f_menu ul li {
	display: inline-block;
	list-style: none;
	margin: 0 5px 0  40px;
}
.f_menu ul li a {
	color: #000;
	text-decoration: none;
	display: block;
	line-height: 40px;
	font-size: 10pt;
}
.f_menu ul li a:hover {
	text-decoration: underline;
}
.copy_r {
	float: right;
	margin-right: 40px;
	line-height: 40px;
	font-size: 10pt;
}