/*********************** buttonBar variables ****************/
/**************** COLORS ******3*************/
@media (min-width: 768px) {
  .header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 98%;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-480use {
    display: inline;
  }
  .block-480use {
    display: block;
  }
  .blurbs__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .blurbs__cover {
    width: 33%;
  }
  .blurbs__section {
    width: 33%;
  }
  .main-content__cover {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
  .text-480use {
    display: inline;
  }
  .navMenu {
    width: 80%;
  }
  .Menu {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .Menu__link {
    padding-bottom: 2px;
  }
  .Menu__item {
    display: list-item;
  }
  .slider {
    padding-left: 20px;
    padding-right: 20px;
  }
  .slider__text {
    width: 30%;
    font-size: 1rem;
    font-family: LeagueGothicR;
    font-weight: 100;
    color: #fff;
    text-shadow: 1px 1px #000;
  }
  .slider__text-p {
    display: block;
    line-height: 1.5rem;
    height: 6rem;
    overflow: hidden;
  }
  .testimonials__cover {
    margin-top: 15px;
    min-height: 315px;
  }
  .testimonials__text {
    min-height: 13rem;
  }
  .logos__wrap {
    width: 100%;
  }
  .logos__item {
    width: 5vw;
  }
  .footer .foo-box__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer__copyR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin: 20px 20px 0 0;
  }
  .foo-box {
    width: auto;
    padding: 0 30px;
  }
  .foo-box__text {
    line-height: 1.2rem;
    height: 8.4rem;
  }
  .foo__menu {
    width: 70%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
