/*********************** buttonBar variables ****************/
/**************** COLORS *******************/
@font-face {
  font-family: OpenSansR;
  src: url("../fonts/Open_Sans/OpenSansRegular.woff") format("woff");
}

@font-face {
  font-family: LeagueGothicR;
  src: url("../fonts/League-Gothic/LeagueGothic-Regular.woff") format("woff");
}

* {
  font-family: OpenSansR;
}

body {
  font-size: 16px;
}

.text-480use {
  display: none;
}

.block-480use {
  display: none;
}

.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/bg_top.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  background-color: #f9f9f9;
}

/******************** HEADER **********************/
.header {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-top: 70px;
}

.navMenu {
  margin-top: 90px;
  position: relative;
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: LeagueGothicR;
  font-size: 1.5rem;
  position: absolute;
}

.Menu:hover {
  overflow: hidden;
  width: 245px;
  right: -122.5px;
  top: -1px;
  border-radius: 20px;
  background-color: rgba(73, 55, 77, 0.7);
  border: 1px solid #111a21;
  box-shadow: inset 0 1px 2px #785a86;
}

.Menu:hover .Menu__item {
  display: list-item;
  text-align: center;
  width: 100%;
  border-top: 1px solid #523F5A;
  border-bottom: 1px solid #36283E;
}

.Menu:hover .Menu__item:first-child {
  content: "";
  border-top: none;
}

.Menu:hover .Menu__item:last-child {
  content: "";
  border-bottom: none;
}

.Menu__item {
  display: none;
}

.Menu__link {
  text-decoration: none;
  display: block;
  color: #fff;
  border-bottom: 3px solid transparent;
  padding: 10px 0;
}

.Menu__link:hover {
  border-bottom: 3px solid #edbfff;
}

.Menu__ferst-link {
  border-bottom: 3px solid #edbfff;
  padding: 10px 0;
}

.Menu__item--select {
  display: list-item;
}

/******************** buttonBar ************************/
.buttonBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonBar__button {
  margin-right: 3px;
  background-color: #DADADA;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  opacity: .7;
}

.buttonBar__button:last-child {
  margin-right: 0;
}

.buttonBar__button-curent {
  position: relative;
}

.buttonBar__button-curent:after {
  content: "";
  display: block;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  margin: 3px auto;
  background-color: #fff;
}

/******************** Slider **************************/
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 67px;
  width: 100vw;
}

.slider__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.slider__head1 {
  font-family: LeagueGothicR;
  font-size: 2.25rem;
  color: #fff;
}

.slider__head2 {
  font-family: LeagueGothicR;
  font-size: 1.125rem;
  color: #edbfff;
}

.slider__right-btn, .slider__left-btn {
  width: 1.5rem;
  height: 2rem;
}

.LB {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid #fff;
}

.LB:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: .5rem solid #785a86;
  top: -16px;
  left: 8px;
}

.LR {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #fff;
}

.LR:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: .5rem solid #785a86;
  top: -16px;
  left: -16px;
}

.slider__img {
  display: none;
}

.slider__text-p {
  display: none;
}

.blurbs {
  background: linear-gradient(0deg, #36293D, #745183);
  line-height: 1.5rem;
  width: 100vw;
}

.blurbs__content {
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blurbs__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.blurbs__cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 2;
  margin-left: 1rem;
  align-items: flex-start;
  color: #fff;
  flex-wrap: wrap;
}

.blurbs__header {
  font-family: LeagueGothicR;
  font-size: 1.5rem;
}

.blurbs__text {
  padding-right: 20px;
  text-shadow: 1px 1px 1px #0f1518;
  letter-spacing: -.7px;
}

.blurbs__div-link {
  text-align: right;
  width: 100%;
}

.blurbs__link {
  font-family: LeagueGothicR;
  font-size: 1.125rem;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
}

.blurbs__link:hover {
  text-shadow: 0 0 3px #fff;
}

.blurbs__icon {
  color: #fff;
  height: 25px;
  width: 25px;
  display: block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/************************ Testimonials ******************/
.testimonials {
  padding: 0 20px;
  position: relative;
}

.testimonials__cover {
  margin: 70px 20px 20px 40px;
  padding: 25px 40px 35px;
  background-color: #fff;
}

.testimonials__img {
  position: absolute;
  left: 25px;
}

.testimonials__header {
  font-family: LeagueGothicR;
  font-size: 1.5rem;
  color: #edbfff;
  text-transform: uppercase;
}

.testimonials__header--logo {
  color: #454545;
  display: block;
}

/************************ BLOG **************************/
.blog {
  margin: 0 20px;
  color: #454545;
}

.blog__header {
  font-family: LeagueGothicR;
  font-size: 1.9rem;
}

.blog__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog__item-header {
  font-weight: 900;
}

.blog .blog__link-960 {
  display: none;
}

.blog__link-mod {
  text-align: right;
  font-family: LeagueGothicR;
  font-size: 1.1rem;
}

.blog__link {
  text-decoration: none;
  color: #454545;
}

/************************ Logs **************************/
.logos {
  position: relative;
  z-index: 10;
  width: 100vw;
  box-shadow: 0 3px 5px #656363;
  border-top: 1px solid #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos__wrap {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logos__item {
  width: 33vw;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************************ Footer ************************/
.footer__navCopy {
  background-image: url("../img/bg_bootom.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.footer__copyR {
  display: block;
  margin: 21px auto 0;
  font-size: .75rem;
  color: #fff;
}

@media (min-width: 768px) {
  .text-480use {
    display: inline;
  }
  .Menu {
    flex-direction: row;
    position: relative;
  }
  .Menu__ferst-item {
    border-bottom: 3px solid transparent;
  }
  .Menu__item {
    display: list-item;
  }
}

/*********************** buttonBar variables ****************/
/**************** COLORS *******************/
@media (min-width: 321px) {
  .text-480use {
    display: inline;
  }
  .block-480use {
    display: block;
  }
  .blurbs__cover {
    width: 100vw;
    flex-shrink: .2;
  }
  .logos__item {
    width: 25vw;
  }
  .foo__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .foo__menu-link {
    display: inline-block;
    text-decoration: none;
    font-family: LeagueGothicR;
    font-size: 1.25;
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .blurbs__content {
    flex-direction: row;
  }
  .blurbs__cover {
    width: 33%;
  }
  .blurbs__section {
    width: 33%;
  }
}
