@media (min-width: 768px) {
  .text-480use {
    display: inline;
  }
  .block-480use {
    display: block;
  }
  .blurbs__content {
    flex-direction: row;
  }
  .blurbs__cover {
    width: 33%;
  }
  .blurbs__section {
    width: 33%;
  }
}
