@media (min-width: 768px) {
  .text-480use {
    display: inline;
  }
  .Menu {
    flex-direction: row;
    position: relative;
  }
  .Menu__ferst-item {
    border-bottom: 3px solid transparent;
  }
  .Menu__item {
    display: list-item;
  }
}
