@media screen and (max-width: 320px) {
  .wrapper {
    width: 320px;
  }
  .header {
    flex-direction: column;
  }
  .header__logo {
    margin-top: 70px;
  }
  .topMenu__item {
    display: none;
    font-size: 2em;
  }
  .topMenu--select {
    display: inline-block;
  }
  .slider {
    align-items: center;
    flex-direction: column;
  }
  .slider .slider__text {
    display: inline-block;
  }
  .slider .slider__img, .slider .slider__text-p {
    display: none;
  }
  .blurbs__content {
    flex-direction: column;
    align-items: center;
  }
  .testimonials h3 span {
    display: block;
  }
  .testimonials__cover {
    width: 255px;
  }
  .testimonials__cover .testimonials__img {
    right: 230px;
  }
  .testimonials__cover p {
    height: 270px;
    overflow: hidden;
    padding: 0 38px;
  }
}
