@font-face {
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-family: "OpenSansR";
}

@font-face {
  src: url("../fonts/League-Gothic/LeagueGothic-Regular.otf");
  font-family: "LeagueGothicR";
}

body {
  background-image: url("../img/bg_top.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: center;
  background-color: #F9F9F9;
  font-size: 12px;
  font-family: "LeagueGothicR";
}

.wrapper {
  /*width: 960px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/***************** HEADER ***************/
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-family: "LeagueGothicR";
  font-size: 4em;
  font-weight: 200;
  color: #fff;
}

.logo .logo__er {
  background: linear-gradient(180deg, #745083, #322539);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topMenu {
  position: relative;
  font-family: "OpenSansR";
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.topMenu__item {
  display: inline-block;
  border: 3px solid transparent;
}

.topMenu__item:hover {
  border-bottom: 3px solid #EDBFFF;
}

.topMenu__link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0 10px;
}

.header__topMenu {
  margin: 40px 0 120px;
}

/***************** SLIDER ***************/
.slider {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider .slider__item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.slider h2 {
  text-align: left;
  color: #fff;
  font-size: 3em;
}

.slider h3 {
  text-align: left;
  color: #edbfff;
  font-size: 1.5em;
}

.slider p {
  width: 50%;
}

.slider .slider__img {
  display: block;
  margin: 0 20px;
}

.slider__buttonBar {
  margin-top: 80px;
}

.slider__buttonBar .slider__button {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background-color: rgba(105, 100, 111, 0.5);
}

.slider__buttonBar .slide--current {
  position: relative;
}

.slider__buttonBar .slide--current::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 11px;
  top: 3px;
  left: 3px;
  background-color: white;
}

/***************** BLURBS ***************/
.blurbs {
  background: linear-gradient(0deg, #36293D, #745183);
  margin-top: 70px;
  color: #fff;
  /*.blurbs__section{
		margin: 0 auto;
	}*/
}

.blurbs p {
  height: 70px;
  overflow: hidden;
  letter-spacing: 0.3px;
  line-height: 1.4em;
  width: 200px;
  text-overflow: ellipsis;
}

.blurbs .blurbs__section {
  line-height: 2em;
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
}

.blurbs .blurbs__section .blurbs-cover {
  display: flex;
  flex-direction: column;
}

.blurbs .blurbs__section span {
  width: 31px;
  height: 25px;
  display: block;
  background: url(../img/svg/sprite.svg);
  margin: 0 3px;
}

.blurbs .blurbs__section p {
  height: 65px;
  font-family: OpenSansR;
}

.blurbs .blurbs__section .blurbs__pic1 {
  background-position: 0 0px;
}

.blurbs .blurbs__section .blurbs__pic2 {
  background-position: 32px 0;
}

.blurbs .blurbs__section .blurbs__pic3 {
  background-position: 64px 0;
}

.blurbs .blurbs__section a {
  text-align: right;
}

.blurbs__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/***************** TESTIMONIALS ***************/
.testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testimonials__cover {
  background-color: #fff;
  position: relative;
}

.testimonials__cover .testimonials__img {
  position: absolute;
}

.testimonials__cover h3 {
  padding: 0 40px 0;
  font-size: 2em;
  color: #454545;
  text-transform: uppercase;
}

.testimonials__cover h3 span {
  color: #edbfff;
}

.testimonials__cover p {
  background-color: #fff;
  font-family: OpenSansR;
  font-size: 1.4em;
  line-height: 2em;
}

.testimonials__button span {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 17px;
  background-color: rgba(105, 100, 111, 0.5);
}

/***************** BLOG ***************/
.blog {
  font-family: OpenSansR;
  font-size: 1.4em;
}

.blog h4 {
  font-weight: 900;
}

/***************** LOGOS ****************/
.logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/***************** FOOTER ***************/
/***************** RESPONSIV ***************/
@media screen and (max-width: 320px) {
  .wrapper {
    width: 320px;
  }
  .header {
    flex-direction: column;
  }
  .header__logo {
    margin-top: 70px;
  }
  .topMenu__item {
    display: none;
    font-size: 2em;
  }
  .topMenu--select {
    display: inline-block;
  }
  .slider {
    align-items: center;
    flex-direction: column;
  }
  .slider .slider__text {
    display: inline-block;
  }
  .slider .slider__img, .slider .slider__text-p {
    display: none;
  }
  .blurbs__content {
    flex-direction: column;
    align-items: center;
  }
  .testimonials h3 span {
    display: block;
  }
  .testimonials__cover {
    width: 255px;
  }
  .testimonials__cover .testimonials__img {
    right: 230px;
  }
  .testimonials__cover p {
    height: 270px;
    overflow: hidden;
    padding: 0 38px;
  }
}
