<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <div class="header__container">
    <div class="login">
        <a class="login__link" href="#">Log In</a>
        <a class="login__link" href="#">Sign up</a>
    </div>
    <h1 class="promo__head">URLAUBSGLÜCK</h1>
    <div class="promo">
        <h2 class="promo__tag">Share your holiday dreams</h2>
        <p class="promo__text font-roboto-light">And find the perfect partner to fullfill it</p>
        <a class="promo__find-link link-button" href="#">Find your holiday partner</a>
    </div>
    </div>
</header>
<main>
    <section class="step">
        <h2 class="step__head">How Urlaubsglück works?</h2>
        <div class="step__sliders" id="idea-sliders">
            <div class="slider js_slider">
            <div class="frame js_frame">
                <ul class="slides js_slides">
                    <li class="js_slide">
                        <img src="img/slide_3.png" alt=""/>
                        <div class="js_slider-text">
                            <span class="js_slider-text__step">STEP 1</span>
                            <h3 class="js_slider-text__head">Sed leo enim, condinamentum</h3>
                            <p class="js_slider-text__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                    <li class="js_slide"><img src="img/slide_2.png" alt=""/>
                        <div class="js_slider-text">
                            <span class="js_slider-text__step">STEP 2</span>
                            <h3 class="js_slider-text__head">Morbi velit risus</h3>
                            <p class="js_slider-text__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                    <li class="js_slide"><img src="img/slide_1.png" alt=""/>
                        <div class="js_slider-text">
                            <span class="js_slider-text__step">STEP 3</span>
                            <h3 class="js_slider-text__head">Sed leo enim, condinamentum</h3>
                            <p class="js_slider-text__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                </ul>
                <span class="js_prev prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#ffffff" d="M 252.65039,-1.8886719 26.533203,231.95898 252.74805,454.30469 260.38867,446.53125 41.884766,231.76367 260.48633,5.6894531 Z"/></g></svg>
                </span>
                <span class="js_next next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#ffffff" d="M 34.369143,-1.8886719 260.48633,231.95898 34.271483,454.30469 26.630863,446.53125 245.13477,231.76367 26.533203,5.6894531 Z"/></g></svg>
                </span>
                </div>
            </div>
            <div class="slider js_slider-one">
                <div class="frame js_frame">
                    <ul class="slides js_slides">
                        <li class="js_slide"><img src="img/slide_2.png" alt=""/>
                        <div class="js_slider-text">
                            <span class="js_slider-text__step">STEP 2</span>
                            <h3 class="js_slider-text__head">Morbi velit risus</h3>
                            <p class="js_slider-text__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                        <li class="js_slide">
                            <img src="img/slide_3.png" alt=""/>
                            <div class="js_slider-text">
                                <span class="js_slider-text__step">STEP 1</span>
                                <h3 class="js_slider-text__head">Sed leo enim, condinamentum</h3>
                                <p class="js_slider-text__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                            </div>
                        </li>

                        <li class="js_slide"><img src="img/slide_1.png" alt=""/>
                            <div class="js_slider-text">
                                <span class="js_slider-text__step">STEP 3</span>
                                <h3 class="js_slider-text__head">Sed leo enim, condinamentum</h3>
                                <p class="js_slider-text__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                            </div>
                        </li>
                    </ul>
                 <span class="js_prev prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#ffffff" d="M 252.65039,-1.8886719 26.533203,231.95898 252.74805,454.30469 260.38867,446.53125 41.884766,231.76367 260.48633,5.6894531 Z"/></g></svg>
                </span>
                <span class="js_next next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#ffffff" d="M 34.369143,-1.8886719 260.48633,231.95898 34.271483,454.30469 26.630863,446.53125 245.13477,231.76367 26.533203,5.6894531 Z"/></g></svg>
                </span>
                </div>
            </div>
            <div class="slider js_slider-two">
                <div class="frame js_frame">
                    <ul class="slides js_slides">
                        <li class="js_slide"><img src="img/slide_1.png" alt=""/>
                        <div class="js_slider-text">
                            <span class="js_slider-text__step">STEP 3</span>
                            <h3 class="js_slider-text__head">Sed leo enim, condinamentum</h3>
                            <p class="js_slider-text__desc">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                        </li>
                        <li class="js_slide">

                            <img src="img/slide_3.png" alt=""/>
                            <div class="js_slider-text">
                                <span class="js_slider-text__step">STEP 1</span>
                                <h3 class="js_slider-text__head">Sed leo enim, condinamentum</h3>
                                <p class="js_slider-text__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                            </div>
                        </li>
                        <li class="js_slide"><img src="img/slide_2.png" alt=""/>
                            <div class="js_slider-text">
                                <span class="js_slider-text__step">STEP 2</span>
                                <h3 class="js_slider-text__head">Morbi velit risus</h3>
                                <p class="js_slider-text__desc">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                            </div>
                        </li>

                    </ul>
                <span class="js_prev prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#ffffff" d="M 252.65039,-1.8886719 26.533203,231.95898 252.74805,454.30469 260.38867,446.53125 41.884766,231.76367 260.48633,5.6894531 Z"/></g></svg>
                </span>
                <span class="js_next next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#ffffff" d="M 34.369143,-1.8886719 260.48633,231.95898 34.271483,454.30469 26.630863,446.53125 245.13477,231.76367 26.533203,5.6894531 Z"/></g></svg>
                </span>
                </div>
            </div>
        </div>
    </section>
    <section class="partner">
        <h2 class="partner__header">Meet a partner for your best holiday</h2>
        <div class="partner__partners" id="partners-cont">

        </div>
        <a class="partner__other-partners link-button" href="#">See other partners</a>
    </section>
    <section class="ideas">
        <h2 class="ideas__head">Discover holiday activity ideas</h2>
        <div class="ideas__api-img grid" id="ideas__api-img">
        </div>
    </section>
    <section class="search">
        <h2 class="search__head">Discover holiday activity ideas</h2>
        <p class="search__text">Hi! What are your holiday interests?</p>
        <div class="search__form">
        <input class="search__input" type="text" placeholder="Enter your interests" id="search__input"/>
        <a href="#" id="search__button" class="link-button">Search partners</a>
        </div>
    </section>
</main>
<footer >
    <div class="foo">
    <h2 class="foo__header">URLAUBSGLÜCK</h2>
    <nav>
    <h4 class="nav__head">Company</h4>
        <ul class="foo__nav">
            <li class="nav__item"><a class="nav__link" href="#">About</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Contacts</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Press</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Blog</a></li>
        </ul>
    </nav>
    <h4 class="foo__head">Partners</h4>
    <div class="foo__copy">
        <h3 class="foo__copy-text" >DESIGNED BY</h3>
        <img src="img/copy.png" alt="company logo"/>
    </div>
    </div>
</footer>
<!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>-->
<!--<script src="http://meandmax.github.io/lory/dist/lory.min.js"></script>-->
<script type="text/template" id="PartnersTemplate">
    <% _.forEach(partners, function(name) {%>
            <div class="partner__partners-item">
            <div class="partner__partners__img-con">
                <img class="partner__partners__avatar" src="<%- name.avatar %>" alt=""/>
                <div class="partner__partners__pic" style="background-color: <%- name.color %>">
                    <svg class="partner__partners__pic-svg">
                        <use xlink:href="img/svg/symbols.svg<%- name.pic %>"></use>
                    </svg>
                </div>
            </div>
            <p class="partner__partners__name"><%- name.firstName %> <%- name.lastName %></p>
                <p class="partner__partners__comment"><%- name.comment %></p>
            </div>
    <% }); %>
</script>
<script type="text/template" id="IdeasTemplate">
    <%
    var i=0;
    _.forEach(hits, function(name) {%>
    <% if (i == 0){%>
        <div class="grid-item" >
    <%} else if(i == 3 || i==6){%>
        <div class="grid-item grid-item--width2" >
    <%} else {%>
        <div class="grid-item" >
    <% }
     i++; %>
        <img class="ideas__img" src="<%- name.webformatURL %>" alt=""/>
        <p class="ideas__comment"><%- name.tags %></p>
    </div>
    <% }); %>
    <div class="grid-sizer"></div>
    <div class="grid-gutter"></div>
</script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/lory.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>