header{
	height: 36px;
	background-color: #085b9f;
}
.uLine{
	text-decoration: underline;
}
header div{
	float: right;
}
ul.menu{
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
.menu li{
	display: inline-block;
	box-sizing: border-box;
}
.topMenuHov{
	box-sizing: border-box;
}

.topMenuHov:hover, .menu a:hover{
	background-color: #4eabda;
	color: #fff;
}
.menu a{
	display: inline-block;
	text-decoration: none;
	color: #60b5ed;
	line-height: 36px;
	padding: 0 12px;
}
header a{
	color: #fff;
}
header span{
	display: inline-block;
	line-height: 36px;
	vertical-align: top;
}
header img{
	vertical-align: middle;
	display: inline-block;
}
span.c_wite{
	color: #fff;
}
span.v_line{
	width: 1px;
	height: 32px;
	margin-top: 2px;
	background-color: #56a2dc;
}
main{
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1215px;
	position: relative;
	z-index: 900;
	display: flex;
 	flex-direction: column;
 	justify-content: center;
}
.registration_form{
	width: 559px;
	height: 610px;
	position: relative;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
}
.h_line{
	display: block;
	height: 3px;
	background-color: #d4d8c9;
}
.registration_form h1{
	color: #fff;
	text-align: center;
	line-height: 62px;
	font-size: 24px;
}
.OU_line{
	display: block;
	text-align: center;
}
.OU_line::before{
	display: inline-block;
	margin: 4px 2px;
	content: "";
	width: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #000;
}
.OU_line::after{
	display: inline-block;
	margin: 4px 2px;
	content: "";
	width: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #000;
}
input.t_input{
	margin: 0 auto 20px;
	display: block;
	height: 35px;
	width: 275px;
	outline: none;
	padding-left: 12px; 
	background-color: #101010;
	border: none;
	border-bottom: 1px solid #484848;
	color: #fff;

}
input.t_input:focus{
	box-shadow: 0 0 15px #4a84ad;
	
}