body{
	font-family: Tahoma;
	font-size: 14px;
	min-height: 100vh;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}
header{
	height: 36px;
	background-color: #085b9f;
}
.uLine{
	text-decoration: underline;
}
header div{
	float: right;
}
ul.menu{
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
.menu li{
	display: inline-block;
	box-sizing: border-box;
}
.topMenuHov{
	box-sizing: border-box;
}
.r_menu{
	padding: 0 14px;

}
.menu a:hover{
	background-color: #4eabda;
	color: #fff;
}
.topMenuHov:hover{
	background: 1px linear-gradient(to top, #2e7ac4, #50afdc); 
	color: #fff;
	box-shadow: 0px 0px -10px #2e7ac4;
	border-radius: 2px;
}

.menu a{
	display: inline-block;
	text-decoration: none;
	color: #60b5ed;
	line-height: 36px;
	padding: 0 12px;
}
header a{
	color: #fff;
}
header span{
	display: inline-block;
	line-height: 36px;
	vertical-align: top;
}
.Ola{
	margin-right: 15px; 
}
header img{
	vertical-align: middle;
	display: inline-block;
}
span.c_wite{
	color: #fff;
}
span.v_line{
	width: 1px;
	height: 32px;
	margin-top: 2px;
	background-color: #56a2dc;
}
main{
	position: relative;
	z-index: 900;
	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	flex-grow: 2;
}
.registration_form{
	width: 559px;
	position: relative;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.h_line{
	display: block;
	height: 3px;
	background-color: #d4d8c9;
}
.registration_form h1{
	color: #fff;
	text-align: center;
	line-height: 62px;
	font-size: 24px;
}
.OU_line{
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	color: #999999;
}
.OU_line::before{
	/*display: inline-block;*/
	margin: 4px 2px;
	content: "";
	width: 42%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #000;
}
.OU_line::after{
	/*display: inline-block;*/
	margin: 4px 2px;
	content: "";
	width: 42%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #000;
}
.mainForm{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	margin: 0 auto ;
	width: 275px;
}
.FacebookBtn{
	margin: 20px auto;
	width: 275px;
	height: 35px;
	background-image: linear-gradient(to bottom, #3c569b, #2e4579);
	border-radius: 5px;
}
.t_input{
	margin: 20px 0 0;
	height: 35px;
	width: 275px;	
	 -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}


.textInput{
	margin: 0;
	outline: none;
	padding: 0 0 0 12px; 
	border: none;
	border-bottom: 1px solid #484848;
	color: #fff;
	background-color: transparent;
}
.tBg{
	background-color: #101010;
}
input.textInput:focus{
	background: linear-gradient(to top, rgba(0,81,139, .9), rgba(0,74,123, .5));
	box-shadow: 0 0 15px #4a84ad, 0 0 15px #689bcc;
	border-bottom: 1px solid #689bcc;
	
}
input.checkboxCon{
	height: 16px;
	width: 16px;
	margin-top: 0;
}
.chLable{
	color: #ccc;
	font-size: 14px;
	vertical-align: top;
}
input.reg_button{
	margin: 0 auto 20px;
	width: 151px;
	background-color: #fff;
	background: 1px linear-gradient(to top, #2e7ac4, #50afdc);
	outline: #2e7ac4;
	border: 1px solid #2e7ac4;
	border-radius: 5px;
	color: #fff;
	font-weight: 600;
}
input.reg_button:hover{
	background: 1px linear-gradient(to top, #50afdc, #2e7ac4);
}
input.textInput:focus::-webkit-input-placeholder{
	color:#fff;
}
.registration_form>p{
	margin-bottom: 20px;
	text-align: center;
	line-height: 16px;
	font-size: 11px;
	color: #ccc;
}
/*footer{
	display: flex;
}*/